<!--Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand text-muted" href="#">Progate</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
<!--         <li><a href="#">ログイン</a></li>
 -->        <li><a href="https://www.facebook.com/events/598453210281876/">エントリー</a></li>
      </ul>
    </div> 
  </div>
</nav><!-- End navbar -->

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>元日ハッカソン ２０１５</h1>
      <p class="pull-right" style="color: white; font-size: 13px;">Powered by Progate</p>
    </div>
  </div>
    <div class="countdown">
      <p class="lead">開始まであと</p>
      <span id="clock"></span>
    </div>
    <p>
      <a class="btn btn-primary btn-lg" data-toggle="modal" href="https://www.facebook.com/events/598453210281876/">エントリー</a>
    </p>
  </div>
<!--   <%= video_tag (["dummy.mp4"] ) %>
  <video autoplay loop poster="top-bg.jpg" id="bgvid">
    <source src="video/dummy.mp4" type="video/mp4">
  </video> -->
</div><!-- End Jumbotron -->

<!-- Main Content -->
<div class="container">
  <div class="heading">
    <h2>二〇一五年、コード初め。<br>日本全国で繰り広げられるオンラインハッカソン</h2>
  </div>
  <p class="content">
    "2015年、エンジニアが日本を元気にしていきたい"<br>
    そんな思いから、"元日 Hackathon 2015"を企画しました。<br><br>
    おそらく2015年世界最初のHackathon...<br>
    元日から爆速でコードを生み出しましょう。<br><br>
    2015年1月1日世界で最もコードを生む国"NIPPON"!!<br><br>
    みなさんの参加をお待ちしております。<br>
    今年の"福エンジニア"は誰だ...!?
  </p>
</div><!-- End Main Content -->

<!-- About -->
<div class="about">
  <div class="container">
    <div class="heading">
      <h2>概要</h2>
    </div>
    <div style="color: #b3aeb5; line-height: 1.7; font-weight: 200;" class="col-lg-8 col-lg-offset-2">
      <ul>
        <li>【場所】どこでも（anywhere）</li>
        <li>【作成物】Webアプリケーション（指定言語なし）(any language)</li>
        <li>【テーマ】２０１５年、日本を元気にするアプリケーション (anything)</li>
        <li>【優勝賞品】優勝者にはお年玉として、<span style="color: #1CCCF5;">新品のOculus DK2</span>贈呈</li>
        <br><br><br><br>
      </ul>
    </div>
  </div>
</div><!-- End About -->

<!-- Schedule -->
<div class="schedule">
  <div class="container">
    <div class="heading">
      <h2>スケジュール</h2>
    </div>
    <p class="col-lg-6 col-lg-offset-3">
    １、オンラインフォームで申し込み<br>
    ２、大晦日まで待機<br>
    ３、２０１５年１月１日０時００分００秒ハッカソン開始<br>
    ４、２０１５年１月１日２３時５９分５９秒ハッカソン終了<br>
    ５、各自作品をFacebookページにデプロイ<br>
    ６、最優秀賞決定
  </p>
  </div>
</div><!-- End Schedule -->

<!-- After Entry -->
<div class="after-entry">
  <div class="container">
    <div class="heading">
      <h2>エントリー後のフロー</h2>
    </div>
  </div>
</div><!-- End Schedule -->

<!-- Call to Action -->
<div class="container">
  <div class="callout">
          <h3>Let's learn to code, learn to be creative!</h3>
          <a class="btn btn-success btn-lg" data-toggle="modal" href="https://www.facebook.com/events/598453210281876/">エントリー</a>
  </div>
</div><!-- End Call to Action -->
<hr>
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div >
      <div>
        <h4><a href="#">Progate Hackathon</a></h4>
        <p>produced by Progate</p>
      </div>
      <div>
        <p>Company</p>
        <p>Contact</p>
        <p>FAQ</p>
        <p>Privary Policy</p>
      </div>
    </div>
     <hr>
    <p>&copy; 2014 Progate. Inc</p>
    </div>
  <!-- End Footer -->
</div>

<!-- SignUp Modal -->
<div class="modal fade" id="signupModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">2015年Progateハッカソンエントリー</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="login_form">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p class="pull-left">既にアカウントをお持ちですか?</p>
        <a href="#" class="btn btn-primary">ログイン</a>
       </div>
    </div>
</div>    
