<!--Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand text-muted" href="#">Progate</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
<!--         <li><a href="#">ログイン</a></li>
 -->        <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" href="#signupModal">エントリー</button></li>
      </ul>
    </div> 
  </div>
</nav><!-- End navbar -->

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <div class="main-title">
      <h1>Progate Hackathon 2015</h1>
    </div>
    <div class="countdown">
      <p class="lead">開始まであと</p>
      <span id="clock"></span>
    </div>
    <p>
      <a class="btn btn-primary btn-lg" data-toggle="modal" href="#signupModal">エントリー</a>
    </p>
  </div>
<!--   <%= video_tag (["dummy.mp4"] ) %>
  <video autoplay loop poster="top-bg.jpg" id="bgvid">
    <source src="video/dummy.mp4" type="video/mp4">
  </video> -->
</div><!-- End Jumbotron -->

<!-- Main Content -->
<div class="container">
  <div class="heading">
    <h2>2015年、世界初。<br>日本全国で繰り広げられるオンラインハッカソン</h2>
  </div>
  <p class="content">
    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
  </p>
</div><!-- End Main Content -->

<!-- About -->
<div class="about">
  <div class="container">
    <div class="heading">
      <h2>概要</h2>
    </div>
    <p class="content">
    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
  </p>
  </div>
</div><!-- End About -->

<!-- Schedule -->
<div class="schedule">
  <div class="container">
    <div class="heading">
      <h2>スケジュール</h2>
    </div>
    <p class="content">
    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
  </p>
  </div>
</div><!-- End Schedule -->

<!-- After Entry -->
<div class="after-entry">
  <div class="container">
    <div class="heading">
      <h2>エントリー後のフロー</h2>
    </div>
  </div>
</div><!-- End Schedule -->

<!-- Call to Action -->
<div class="container">
  <div class="callout">
          <h3>Let's learn to code, learn to be creative!</h3>
          <a class="btn btn-success btn-lg" data-toggle="modal" href="#signupModal">エントリー</a>
  </div>
</div><!-- End Call to Action -->
<hr>
<!-- Footer -->
<div class="footer">
  <div class="container">
    <div >
      <div>
        <h4><a href="#">Progate Hackathon</a></h4>
        <p>produced by Progate</p>
      </div>
      <div>
        <p>Company</p>
        <p>Contact</p>
        <p>FAQ</p>
        <p>Privary Policy</p>
      </div>
    </div>
     <hr>
    <p>&copy; 2014 Progate. Inc</p>
    </div>
  <!-- End Footer -->
</div>

<!-- SignUp Modal -->
<div class="modal fade" id="signupModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">2015年Progateハッカソンエントリー</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="login_form">
          <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p class="pull-left">既にアカウントをお持ちですか?</p>
        <a href="#" class="btn btn-primary">ログイン</a>
       </div>
    </div>
</div>    
