<!--Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand text-muted" href="#">Progate Hackathon</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li>
          <a href="https://www.facebook.com/sharer/sharer.php?u=hackathon.prog-8.com" class="share-link">
            <i class="fa fa-facebook"></i>
            <span class="share-text">Share</span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/share?url=http://hackathon.prog-8.com&text=オンラインの元旦ハッカソン2015に参加します！" onclick="window.open(this.href, 'TWwindow', 'width=650, height=450, left=400, top=200,  menubar=no, toolbar=no, scrollbars=yes'); return false;" class="share-link">
            <i class="fa fa-twitter"></i>
            <span class="share-text">Tweet</span>
          </a>
        </li>
        <li><a class="btn btn-default navbar-btn" href="https://www.facebook.com/events/598453210281876/">エントリー</a></li>
      </ul>
    </div> 
  </div>
</nav><!-- End navbar -->

<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">
    <p class="lead">元日ハッカソン ２０１５開始まで</p>
    <div id="clock-day"></div>
    <div class="clear"></div>
    <div class="countdown">
      <span id="clock"></span>
    </div>
    <div class="clear"></div>
    <p>
      <a class="btn btn-primary btn-lg" href="https://www.facebook.com/events/598453210281876/">エントリー</a>
    </p>
    <div class="clear"></div>
    <p class="notice"><small>※エントリーの際にfacebookページにアクセスします</small>
    </p>
     <div class="clear"></div>
    <p class="powered-by" style="color: white; font-size: 13px;">Powered by Progate</p>
  </div>
</div><!-- End Jumbotron -->

<!-- Main Content -->
<div class="theme">
  <div class="container">
    <div class="heading">
      <h2>二〇一五年、コード初め。<br>日本全国で繰り広げられるオンラインハッカソン</h2>
    </div>
    <p class="content">
      "2015年、エンジニアが日本を元気にしていきたい"<br>
      そんな思いから、"元日 Hackathon 2015"を企画しました。<br><br>
      おそらく2015年世界最初のHackathon...<br>
      元日から爆速でコードを生み出しましょう。<br><br>
      2015年1月1日世界で最もコードを生む国"NIPPON"!!<br><br>
      みなさんの参加をお待ちしております。<br>
      今年の"福エンジニア"は誰だ...!?
    </p>
  </div><!-- End Main Content -->
</div>
<!-- About -->
<div class="about">
  <div class="container">
    <div class="heading">
      <h2 class="white-text">概要</h2>
    </div>
    <div style="color: #b3aeb5; line-height: 1.7; font-weight: 200;">
      <ul class="content white-text">
        <li>【場所】<br>どこでも（anywhere）</li><br>
        <li>【作成物】<br>Webアプリケーション（指定言語なし）(any language)</li><br>
        <li>【テーマ】<br>２０１５年、日本を元気にするアプリケーション (anything)</li><br>
        <li>【優勝賞品】<br>優勝者にはお年玉として、<span style="color: #f5c44b;">新品のOculus DK2 </span>贈呈</li>
      </ul>
    </div>
  </div>
</div><!-- End About -->

<!-- Schedule -->
<div class="schedule">
  <div class="container">
    <div class="heading">
      <h2>スケジュール</h2>
    </div>
    <p class="content">
    １.     オンラインフォームで申し込み<br>
    ２.     大晦日まで待機<br>
    ３.    ２０１５年１月１日０時００分００秒ハッカソン開始<br>
    ４.    ２０１５年１月１日２３時５９分５９秒ハッカソン終了<br>
    ５.    各自作品をFacebookページにデプロイ<br>
    ６.    最優秀賞決定
  </p>
  </div>
</div><!-- End Schedule -->

<!-- Call to Action -->
<div class="action">
  <div class="container">
    <div class="callout">
            <h3>2015年、一緒に日本を元気にしませんか？</h3>
            <a class="btn btn-success btn-lg" href="https://www.facebook.com/events/598453210281876/">エントリー</a>
    </div>
  </div>
</div><!-- End Call to Action -->

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <div>
        <h4><a href="#">Progate Hackathon</a></h4>
        <p>Powered by Progate</p>
      </div>
      <div>
        <p><a href="http://prog-8.com/#contact-form">Contact</a></p>
        <p><a href="http://prog-8.com/user_policy">Privary Policy</a></p>
      </div>
    </div>
     <hr>
    <p class="copy"><small>&copy; 2014 Progate. Inc</small></p>
    </div>
  <!-- End Footer -->
</div>
