%meta{:content => "Progate元日ハッカソン", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
/ トップページはwebsite、個別ページはarticle
%meta{:content => "新年最初のプログラミング、書き初めならぬ「コード初め」をみんなでしませんか？", :property => "og:description"}/
%meta{:content => "http://hackathon.prog-8.com", :property => "og:url"}/
%meta{:content => "https://scontent-b.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10881536_1063139410379063_7338319359492756425_n.jpg?oh=655db58e349054a523e741bd37150f5a&oe=55045F4B", :property => "og:image"}/
%meta{:content => "Progate元日ハッカソン", :property => "og:site_name"}/
%meta{:content => "100002236292373", :property => "fb:admins"}/
%meta{:content => "", :property => "fb:app_id"}/
